@charset "ISO-8859-1";

*{
	margin: 0;
	box-sizing: border-box;	
}

#cabecera{
	background-image: url("../imagenes/cabecera.jpg");
}

#cabecera p{
	font-size: 2.2em;
	font-family: Brush Script MT, Centaur, Chiller, Forte, Freestyle Script, Book Antigua,
}

.container-b{
	background-image: url("../imagenes/fondo.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;	
}

.container-t{
	height :100vh;
	background-image: url("../imagenes/fondo2.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	padding: 30px;
	
}

.container-f{
	height :100vh;
	background-image: url("../imagenes/fondo4.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	padding: 30px;
}

form{
	background-color:black;
	color: white;
	padding: 6px;
	margin-top:20px;	
}

img{
	background-color: #2F77DF; 
	
}

header{
	height: auto;
}

footer{
	height: 100px;
	padding: 10px;
}