<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/principal">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/candidato/lista">Candidatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuario/lista">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="candidato/estado">Votación</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
</body>
</html>