@charset "ISO-8859-1";

*{
	margin: 0;
	box-sizing: border-box;	
	font-family: monospace;
}

#cabecera{
	background-image: url("../imagenes/cabecera.jpg");
}

#cabecera p{
	font-size: 2.2em;
	font-family: Brush Script MT, Centaur, Chiller, Forte, Freestyle Script, Book Antigua,
}

/* body */
.container-b{
	background-image: url("../imagenes/fondo.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	text-align: center;	
	
}

/* tarjeta de index */
.card-index{
	background: black;
	width:700px;
	border-radius: 32px;
	padding:50px;
	margin: 0 auto;
	font-size: 15px;
	
	
}



/* contenedor de tablas */

.container-t{
	height :100vh;
	background-image: url("../imagenes/fondo2.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	padding: 30px;
	
}

/* contenedor de formularios */
.container-f{
	height :100vh;
	background-image: url("../imagenes/fondo4.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	padding: 30px;
}


/* formularios */
form{
	background-color:black;
	color: white;
	padding: 15px;
	margin-top:20px;
	border-radius: 25px;
	text-decoration: none;	
}

/* imagenes */
img{
	background-color: white ;
	height: auto;
	width: auto;
}

/* tarjetas */
.card{
	height:auto;
	width:auto;
	background-color: black;
	border-radius:0px 0px 35px 35px;
	margin: 15px;
	border: solid rgb(0, 0, 0);
	font-size: 13px;
}

/* tabla  */
table.table{
	padding:25px;
	
	background-color: #2D2E34;
}




header{
	height: auto;
}

footer{
	height: 100px;
	padding: 10px;
}