<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Votaciones</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container-b">
		
		<header th:replace ="layouts/header :: header"></header>	
	
		<h1>¡Bienvenidos!</h1>
		<div class="card-index">
			<form th:action="@{/ingreso}" method="GET" th:object="${usuario}">
				<div class="mb-3">
					<label for="emailId" class="form-label">EMAIL</label> 
					<input  th:field="*{email}" type="text" class="form-control" id="emailId" placeholder="Ingrese su email">
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary " type="submit" style="margin: auto; padding: 15px;" >Entrar</button>					 
				</div>
				<hr>
				<a style="text-decoration: none; color: white; padding: 15px;" class="btn-dark" th:href="@{/usuario/nuevo}">Quiero registrarme</a>
			</form>
		</div>
	</div>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>