<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Candidatos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container-t">
	
		<header th:replace ="layouts/header :: header"></header>
		<nav th:replace ="layouts/nav :: nav"></nav>
		
			<a th:href="@{/candidato/nuevo}" id="nuevo" class="btn btn-dark">Nuevo</a>
			<table  class="table table-striped table-dark">
				<tr>
					<th>codigo</th>
					<th>Nombre</th>                    
					<th>Genero</th>
					<th>Descripcion</th>
					<th>Votos</th>
					<th>&nbsp</th>
				</tr>	
				<tr th:each="candidato: ${candidatos}">
					<td th:text="${candidato.codigo}"></td>
					<td th:text="${candidato.nombre}"></td>
					<td th:text="${candidato.genero}"></td>
					<td th:text="${candidato.descripcion}"></td>
					<td th:text="${candidato.votos}"></td>						
					
					<td>
						<a th:if="${candidato.codigo != 4}" th:href="@{/candidato/editar/}+${candidato.codigo}" id="editarCandidato" class="btn btn-warning">Editar</a>
						<a th:if="${candidato.codigo != 4}" th:href="@{/candidato/eliminar/}+${candidato.codigo}" id="eliminarCandidato" class="btn btn-danger">Eliminar</a>						
					</td>				
				</tr>
			</table>
			<br><br>
			<a style="margin-left: 5px;" th:href="@{/principal}" id="cancel" class="btn btn-secondary">VOLVER</a>
	</div>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>